.item-bar-main {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #cfcbcbfb;
    border-top: 1px solid #cfcbcbfb;
    flex-wrap: wrap;
}
.number-of-item {
    margin-right: 50px;
}
.filter-message {
    cursor: pointer;
    color: rgb(155, 155, 155);
}

.small-screen {
    display: none;
}

@media (max-width: 864px){
    .small-screen {
        display: flex;
    }
    .large-screen {
        display: none;
    }
}

.recommended {
    cursor: pointer;
    position: relative; 
}

.recommended-content {
    display: none;
    position: absolute; 
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: end;
    padding: 5px;
}

.recommended-content span {
    cursor: pointer;
    font-size: small;
    font-weight: bold;
}

.show {
    display: block;
}
